    image: node:latest

    stages:
        - install
        - build
        - test
        - deploy

    cache:
        paths:
            - node_modules/
            - build/


    install_dependencies:
        stage: install
        script:
            - npm install
        artifacts:
            paths:
                - node_modules/

    run_build:
        stage: build
        script:
            - npm run build
        artifacts:
            paths:
                - build/


    run_test:
        stage: test
        script: npm run test

    run_deploy:
        stage: deploy
        script:
            - rm -rf public
            - pwd
            - ls
            - mv build public
        artifacts:
          paths:
            - public # mandatory, other folder won't work