    image: node:latest

    variables:
        PUBLIC_URL: /marvel

    stages:
        - install
        - test
        - deploy

    cache:
        paths:
            - node_modules/


    install_dependencies:
        stage: install
        script:
            - npm install
        artifacts:
            paths:
                - node_modules/


    run_test:
        stage: test
        script: npm run test

    run_deploy:
        stage: deploy
        script:
            - npm run build
            - rm -rf public
            - rm -rf node_modules
            - mv build public
        artifacts:
          paths:
            - public # mandatory, other folder won't work
        only:
            - master # Only run on master branch